*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Game Of Squids', sans-serif;
}

.container {
	width: 100%;
	height: 100vh;
	background: #2b323c;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container h1 {
	font-size: 100px;
	font-weight: 600;
}

span {
	color: yellow;
}